* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #0f172a);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.container {
    width: 100%;
    max-width: 360px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    padding: 10px;
}


.cards {
    width: 100%;
    aspect-ratio: 1 / 1;

    background: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    cursor: pointer;
    user-select: none;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.2s;
}


.cards:active {
    transform: scale(0.95);
}


.cards.open {
    background: #4caf50;
    color: white;
}


@media (max-width: 450px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        gap: 6px;
        padding: 8px;
    }

    .cards {
        font-size: 16px;
    }
}
